---
import NavButton from "./NavButton.astro";

import { Smile, BrainCircuit, Presentation, Scroll, Info } from "@lucide/astro";
---

<div
    id="nav"
    class="flex place-items-end place-content-center sm:place-items-center fixed right-0 bottom-4 sm:w-[10%] w-full h-[100vh]"
>
    <!-- <progress
        class="progress progress-primary w-56 rotate-90"
        value={0}
        max="100"></progress> -->

    <div
        class="flex sm:flex-col gap-2 w-fit place-content-center bg-base-300/50 sm:bg-base-300/0 rounded-full p-2 backdrop-blur-md"
    >
        <NavButton elSelector="#top" name="Landing" Icon={Smile} />
        <NavButton elSelector="#about" name="About" Icon={Scroll} />
        <NavButton elSelector="#skills" name="Skills" Icon={BrainCircuit} />
        <NavButton elSelector="#projects" name="Projects" Icon={Presentation} />
        <NavButton elSelector="#info" name="Info" Icon={Info} />
    </div>
</div>
